<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.magnat.android.service.openvpn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission android:name="magnat.android.permission.OPENVPN_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="OpenVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="OpenVpnService_External"
            android:permission="magnat.android.permission.OPENVPN_SERVICE" >
            <intent-filter>
                <action android:name="ru.magnat.android.service.openvpn.OpenVpnService_External" />
            </intent-filter>
        </service>
    </application>

</manifest>